body {
	margin      : 0;
	font-family : Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
	margin : 20px 0px;
}

.break {
	clear : both;
}

.hidden {
	display : none;
}

.visible {
	display : block;
}

.main-container {
	width  : 1180px;
	margin : auto;
}

header {
	height : 100px;
}

header .inline-nav {
	float  : right;
	margin : 25px 0px;
}

header .inline-nav ul {
	margin          : 0;
	padding         : 0;
	list-style-type : none;
}

header .inline-nav ul li {
	display        : inline-block;
	vertical-align : top;
	zoom           : 1; /* Fix for IE7 */
	*display       : inline; /* Fix for IE7 */
	padding        : 20px;
}

header .burger-menu {
	width   : 40px;
	float   : right;
	padding : 35px 40px;
	cursor  : pointer;
}

header .dropdown-nav {
	position         : absolute;
	z-index          : 10;
	right            : 38px;
	background-color : #444;
	margin-top       : -16px;
}

header .dropdown-nav ul {
	margin          : 0;
	padding         : 0;
	list-style-type : none;
}

header .dropdown-nav ul li {
	border        : 1px solid;
	padding       : 20px 80px 20px 20px;
	border-bottom : none;
}

header .dropdown-nav ul li:hover {
	background-color : #FFF;
	color            : #444;
	border-color     : #444;
}

header .dropdown-nav ul li:hover a {
	color : #444;
}

header .dropdown-nav ul li:last-child {
	border-bottom : 1px solid;
}

header .dropdown-nav ul li a {
	color           : white;
	text-decoration : none;
}

.banner {
	position : relative;
	z-index  : -1;
}

.content aside {
	width            : 280px;
	height           : 912px;
	background-color : #ccc;
	margin-right     : 20px;
	display          : block;
}

.content section {
	float         : right;
	width         : 865px;
	line-height   : 28px;
	padding-right : 10px;
}

.content section figure {
	margin       : 0px;
	float        : left;
	margin-right : 20px;
}

.content section figure figcaption {
	text-align : center;
	padding    : 10px 0px;
}

.content .thumbnails {
	padding    : 20px 0px 0px 0px;
	text-align : center;
}

.content .thumbnails img {
	margin : 20px 10px 0px 10px;
}

.content .thumbnails img:first-child {
	margin-left : 0px;
}

.content .thumbnails img:last-child {
	margin-right : 0px;
}

.content .aside-xs {
	height           : 200px;
	text-align       : center;
	background-color : #ccc;
}

footer {
	height           : 60px;
	background-color : #ccc;
}

/* Responsive */
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	.main-container {
		width : 100%;
	}

	header .logo {
		width  : 150px;
		height : 100px;
	}

	header .inline-nav {
		display : none;
	}

	.content {
		padding : 0px 25px;
	}

	.content aside {
		display : none;
	}

	.content section {
		width : 100%;
		clear : both;
	}

	.content section figure {
		width       : 100%;
		margin-left : 10px;
	}

	.content section .thumbnails.hidden-sm {
		display : none;
	}

	.content .thumbnails.visible-sm img {
		width : 110px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	.main-container {
		width : 100%;
	}

	header .logo {
		width  : 250px;
		height : 100px;
	}

	header .inline-nav {
		display : none;
	}

	.content {
		padding : 0px 25px;
	}

	.content aside {
		display : none;
	}

	.content section {
		width : 100%;
		clear : both;
	}

	.content section figure {
		width        : 160px;
		margin-right : 20px;
	}

	.content section .thumbnails.hidden-sm {
		display : none;
	}

	.content .thumbnails.visible-sm img {
		width : 150px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.main-container {
		width : 100%;
	}

	header .logo {
		width  : 250px;
		height : 100px;
	}

	.content {
		padding : 0px;
	}

	.content aside {
		width   : 220px;
		height  : 912px;
		display : block;
		float   : left;
	}

	.content section {
		width : 525px;
		clear : none;
	}

	.content section figure {
		width        : 200px;
		margin-right : 20px;
	}

	.content .thumbnails.visible-sm img {
		width : 230px;
	}

	.content .aside-xs {
		display : none;
	}

	.hidden-lg {
		display : block;
	}

	.hidden-md {
		display : block;
	}

	.hidden-sm {
		display : none;
	}

	.hidden-xs {
		display : block;
	}

	.visible-lg {
		display : none;
	}

	.visible-md {
		display : none;
	}

	.visible-sm {
		display : block;
	}

	.visible-xs {
		display : none;
	}

	.hidden {
		display : none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-container {
		width : 100%;
	}

	header .logo {
		width  : 250px;
		height : 100px;
	}

	header .inline-nav {
		display : block;
	}

	.content {
		padding : 0px;
	}

	.content aside {
		width   : 260px;
		height  : 912px;
		display : block;
		float   : left;
	}

	.content section {
		width : 740px;
		clear : none;
	}

	.content section figure {
		width        : 200px;
		margin-right : 20px;
	}

	.content section .thumbnails.hidden-sm {
		display : block;
	}

	.content .thumbnails img {
		width : 230px;
	}

	.content .aside-xs {
		display : none;
	}

	.hidden-lg {
		display : block;
	}

	.hidden-md {
		display : none;
	}

	.hidden-sm {
		display : block;
	}

	.hidden-xs {
		display : block;
	}

	.visible-lg {
		display : none;
	}

	.visible-md {
		display : block;
	}

	.visible-sm {
		display : none;
	}

	.visible-xs {
		display : none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.main-container {
		width : 1180px;
	}

	header .logo {
		width  : 250px;
		height : 100px;
	}

	header .inline-nav {
		display : block;
	}

	.content {
		padding : 0px;
	}

	.content aside {
		width   : 280px;
		height  : 912px;
		display : block;
	}

	.content section {
		width : 865px;
		clear : none;
	}

	.content section figure {
		width        : 250px;
		margin-right : 20px;
	}

	.content section .thumbnails.hidden-sm {
		display : block;
	}

	.content .thumbnails img {
		width : 260px;
	}

	.content .aside-xs {
		display : none;
	}

	.hidden-lg {
		display : none;
	}

	.hidden-md {
		display : block;
	}

	.hidden-sm {
		display : block;
	}

	.hidden-xs {
		display : block;
	}

	.visible-lg {
		display : block;
	}

	.visible-md {
		display : none;
	}

	.visible-sm {
		display : none;
	}

	.visible-xs {
		display : none;
	}
}
